# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Blender backup files
*.blend1
*.blend2

# VSCode settings
.vscode/
*.swp
*.swo

# Environment
.env

# Virtual environment
venv/
env/

# Operating system files
.DS_Store
Thumbs.db